.question{
  display: inline-block;
  padding: 60px;
}

.fraction.highlightBorder{
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
.gameContainer{
  text-align: center;
}
.game{
  display: inline-block;
}