
@font-face {
  font-family: "KGTenThousandReasons";
  src:
    url(./font/KGTenThousandReasons.ttf)format("truetype");
}


.operationGameRow{
  margin: 0;
  min-height: 100vh;
  height: 100%;
  text-align: center;
  background-image: url('../css/img/bg.jpeg');
  overflow: hidden;
}

.gameStartEnd{
  padding-top: 100px;
}


.topicBtn{
  border-radius: 4px;
  width: 40%;
  height:50px;
  text-align: center;
  font-size: 26px;
  font-family: "KGTenThousandReasons";
  background-color: white;
  margin-top: 80px;
}

.topicBtn:hover{
  background-color: white;
}

.descriptionOperation{
  font-family: "KGTenThousandReasons";
  font-size: 38px;
}

.swanBtn{
  margin: 20px;
  /* This can be commented out if preferred */
  background-color: white;
  border-radius: 8px;

}

.swanBtn:disabled{
  opacity: 0.6;
  cursor: not-allowed;
}

.swanBtn:hover{
  background-color: white;
}

.questionOperation{
  margin-top: auto;
  width: 80%;
  left: 50%;
  transform: translate(50%,50%);
}

.scoreBoardOperation{
  margin-top: 80px;
  font-size: 80px;
  font-family: "KGTenThousandReasons";
  color: #f1e0ff;
}

.scoreBoard{
  margin-top: 80px;
  font-size: 50px;
  font-family: "KGTenThousandReasons";
  color: white;
}

.questionImgOperation{
  width:70px;
  height:70px;
}

.questionImgNum{
  width:90px;
  height:90px;
  /* This is the image number style. */
  border: 3px solid #bfeeff;
  border-radius: 5px;
  border-style: outset;
}

/* @font-face {
  font-family: "KGTenThousandReasons";
  src:
    url(./font/KGTenThousandReasons.ttf)format("truetype");
}

body{
  margin: auto;
}

.operationBackground{
  background: url('./b6.png');
  height: 790px;
  background-size: contain;
}

.gameStartEnd{
  padding-top: 100px;
}



.topicBtn{
  border-radius: 4px;
  width: 40%;
  height:50px;
  text-align: center;
  font-size: 26px;
  font-family: "KGTenThousandReasons";
  background-color: #f7f9fc;
  margin-top: 80px;
}

.topicBtn:hover{
  background-color: white;
}

.description{
  font-family: "KGTenThousandReasons";
  font-size: 38px;
}

.swanBtn{
  margin: 20px;

  background-color: #bfeeff;
  border-radius: 8px;

}

.swanBtn:disabled{
  opacity: 0.6;
  cursor: not-allowed;
}

.swanBtn:hover{
  background-color: white;
}

.question{

  transform: translate(50%,50%);
}

.scoreBoard{
  margin-top: 80px;
  font-size: 80px;
  font-family: "KGTenThousandReasons";
  color: #f1e0ff;
}

.questionImg{
  width:70px;
  height:70px;
}

.questionImgNum{
  width:90px;
  height:90px;
  border: 3px solid #bfeeff;
  border-radius: 5px;
  border-style: outset;
} */
