* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* This sets the background colour, font colour, font style (weight and size). 
- The font-family picks 'lato' first and if the website is unable to load that font style then it goes to Arial and then san-serif as our default.
- Because this is common amonst all field we will declare it in here and anything specific can be delcared/set later on.
- The 'optimizeLegibility' emphasizes legibility over rendering speed and geometric precision. */
html {
    background-color:white;
    color: #000000;
    font-family: 'lato', 'Arial', sans-serif;
    font-weight: 200;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

.logo{
    width:15vh;

    
}

.x{
    background-color: green;
}
.container{
    text-align: center;
}

.signup{
    display: inline-block;
}
.testimonal{
    width: 25vh;
}

.tabs .tab a{
    color: #00acc1;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#eee;
    color:#00acc1;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color:white;
    color:#00acc1;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#00acc1;
}
  .sidetabs{
    background-color:red;
        width:200px;
        height:200px;
        position:relative;
        overflow:hidden;
        color:white;
    }
    
    .inner{
        width:200px;
        height:100px;
        position:absolute;
        left: -200px;
        background-color:black;
    color:white;
    }

    .childdashcon{
        width: 80% !important;
    }
    .dashboard{
        outline-color: #000000;
       outline-style: auto;
       height: 80% !important;
     }